@import '../../styles/colors';

header {
  flex: 1 0 auto;
  display: flex;
  // border: 1px solid red;
  // background-color: blue;

  .logo-container {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    padding: 1.5vw;
    // border: 1px dotted yellow;

    .name {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      font-family: 'Amatic SC', cursive;
      font-weight: 100;
      text-shadow: 0 0 5px #000;
      // border: 1px dotted white;

      span {
        text-align: center;
        // border: 1px dotted purple;
      }
    }

    video {
      flex-shrink: 0;
      border-radius: 50%;
      margin: 0.5vw;
      box-shadow: 0 0 2.5vw 1px #000;
      // border: 1px dotted lightskyblue;
    }

    .video-overlay {
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: color(primary);
      font-family: 'Permanent Marker', cursive;
      font-weight: 100;
      text-shadow: 0 0 10vw #000;
      mix-blend-mode: lighten;
      // border: 1px dotted greenyellow;
    }
  }

  nav {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    // border: 1px solid yellow;
    // background-color: green;

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        display: flex;
        align-items: center;

        a {
          color: inherit;
          text-decoration: none;
        }

        a:hover {
          color: color(primary-light);
          background-color: color(primary-dark);
        }
      }
    }

    button {
      background-color: greenyellow;
    }
  }
}

@media (orientation: landscape) {
  .logo-container {
    flex-direction: row;
    justify-content: space-evenly;

    .name {
      span {
        font-size: 12vw;
        width: 5.75vw;
      }
    }

    video {
      height: 27vw;
      width: 27vw;
    }
    .video-overlay {
      height: 27vw;
      width: 27vw;
      // Left = 1.5vw padding + (4 * 5.75vw) letters N-i-c-o + 0.5vw margin
      left: 25vw;
      font-size: 9vw;
    }
  }
}

@media (orientation: portrait) {
  .logo-container {
    flex-direction: column;
    justify-content: center;

    .name {
      span {
        font-size: 12vh;
        width: 12.125vw;
      }
    }

    video {
      height: 27vh;
      width: 27vh;
    }
    .video-overlay {
      height: 27vh;
      width: 27vh;
      font-size: 9vh;
    }
  }
}
