section {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  background-color: white;
  overflow: hidden;

  video {
    object-fit: cover;
    object-position: center top;
    width: 100vw;
    height: 100vh;
    // border: 1px dotted red;
  }
}
