section {
  flex-grow: 1;
  background-color: black;
  // background-image: url('../../assets/starmap_g4k-2560x1440.jpg');
  // background-image: url('../../assets/starmap_g4k.png');
  background-image: url('../../assets/nightSky.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
