<section class="night-sky">
  <div class="intro intro-top">
    <div>
      <span class="pre-word">Hi</span>
      <span>there,</span>
    </div>
    <div>
      <span class="pre-word">I'm</span>
      <span>glad</span>
    </div>
    <div>
      <span class="pre-word">you</span>
      <span class="pre-word">found</span>
      <span>me</span>
    </div>
  </div>
  <div class="text-separator">
    <hr />
  </div>
  <div class="intro intro-bottom">
    I'm a [[passionate]] Front-end Developer based in Denver CO, focused on
    [[creating]] [[intuitive]] user experiences since 2015
  </div>
</section>
<section class="cinemagraph">
  <!-- use @HostListener for oncanplay and onloadedmetadata? -->
  <!-- Was @HostListener not working with oncanplay and onloadedmetadata
          because these events don't bubble up to the host element? -->
  <video
    preload="auto"
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    autoplay
    loop
    muted
  >
    <source
      src="assets/cinemagraphs/earth-orbit-cinemagraph.webm"
      type="video/webm"
    />
    <source
      src="assets/cinemagraphs/earth-orbit-cinemagraph.mp4"
      type="video/mp4"
    />
    <!-- TODO: Add video poster of first frame??? -->
    <!-- TODO: Add image of first frame as fallback for video -->
    <!-- <img src="" alt=""> -->
  </video>
</section>
